@model IEnumerable<CarDealerApp.Models.CarsViewModel>
@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>

<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.TravelledDistance</td>
            </tr>
        }
    </tbody>
</table>